<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div id="app">
        <div class="container mt-5">
            <div class="mx-auto" style="width: 200px;">
                <card></card>
            </div>
        </div>
    </div>

    <template id="card">
        <div class="card" style="width: 18rem;">
            <card-image :image="cardImage"></card-image>
            <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <card-description :description="cardDescription"></card-description>
                <card-actions :view="false" :edit="true"></card-actions>
            </div>
        </div>
    </template>

    <template id="cardImage">
        <img
            class="card-img-top"
            :src="image"
            alt="Card image cap"
        >
    </template>

    <template id="cardDescription">
        <p class="card-text">
            {{ description }}
        </p>
    </template>

    <template id="cardActions">
        <div class="d-flex justify-content-end align-items-center">
            <div class="btn-group">
                <button v-if="view" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button v-if="edit" type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
        </div>
    </template>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                }
            },
        })

        app.component('card', {
            data() {
                return {
                    title: 'Título de teste',
                    cardImage: 'https://placehold.co/400',
                    cardDescription: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam cum ea enim est ex id illum laborum nam nostrum obcaecati placeat possimus, quasi repudiandae, rerum sequi, sit tenetur vitae.',
                }
            },
            template: '#card'
        })

        app.component('card-image', {
            props: ['image'],
            template: '#cardImage'
        })

        app.component('card-description', {
            props: ['description'],
            data() {
                return {
                }
            },
            template: '#cardDescription'
        })

        app.component('card-actions', {
            props: ['view','edit'],
            template: '#cardActions'
        })

        app.mount('#app')
    </script>
</body>
</html>
